<%= render 'user/header' %>
<div>
<%= render 'user/menu' %>
</div>
<div class="chaH">
  <h1><%= session[:clickuser_name] %></h1>
</div>
<div class="container">
<div class="article">
<div>
<%  @dirMsg.each do |msg|%>
  <%= image_tag("user.png.jpg", :alt => "rss feed" ,:class =>"avatar") %>
  <%= msg.name %> <%= msg.created_at %><br>    
  <%= msg.msg %><br>
   <%  @dirthreadmsgoutput.each do |v|%>
    <% if v.dmsg_id == msg.id%>
    <%= image_tag("user.png.jpg", :alt => "rss feed" ,:class =>"avatar") %>
   <%= v.name %> <%= v.created_at %><br>   
   <%= v.thread_msg %><br>
   <% end %>
   <% end %>
  <% end %>
</div>
</div>

<div class="footer">
  <%= form_for(:session,url:dirthread_path) do |f| %>
      <div class="col-md-8">
      <%= f.text_area :sendmsg, class: 'form-control' %>
      </div>
      <div class="col-md-1">
      <%= f.submit "送信", class: "btn btl-lg btn-primary btnW", :style => "width: 70px; height: 50px;" %>
      <% end %>
      </div>
  </div>